.headersection {background: #9f1f9f none repeat scroll 0 0;}
		  .icon a {background: #870787 none repeat scroll 0 0;}
		  .searchbtn input[type="submit"] {background: #870787 none repeat scroll 0 0;border: 1px solid #870787;}